body {
  background-color: #2b2922;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.nav__btn {
  color: #978835;
  text-decoration: none;
  border: 1px solid #978835;
  padding: 10px 35px;
  border-radius: 5px;
}

.nav,
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: auto;
}

.nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
}

.nav__list > li {
  padding: 10px 40px;
  color: #fff;
}

.nav__logo {
  height: 40px;
  width: 116px;
}

header {
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  align-items: center;
  color: #fff;
}

.hero > div {
  flex: 1;
}

.hero__left-heading {
  font-size: 4.5rem;
  color: #fff;
}
.hero__right-text {
  width: 80%;
  font-size: 1.2rem;
}
